<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="broswer" value="chrome"></parameter>
  	<parameter name="broswer1" value="firefox"></parameter>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.chiselon.jenkins1.FirstTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
